@media (max-width: 768px) {
    .container {
        align-items: center; 
        background: #000000;
    }

    .menu {
        flex-direction: column; 
        height: 50vh; 
        padding: 10px;
        gap: 24px;
        text-align: center; 
    }

    .panel{
        height: 50vh;
    }

    .square {
        width: 100px;
        height: 100px;
    }
}